@import 'settings.module';

.wrapper {
  position: relative;
  color: white;
}

.user {
  display: block;
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1px;
}

.selector {
  display: flex;
  align-items: center;
}